.groupInfo
  .groupInfo__about
    %p.groupInfo__about--name グループ名
    %p.groupInfo__about--member メンバー
  .groupInfo__edit
    =link_to "#", class: "groupInfo__edit groupInfo__edit--link" do
      Edit
