.userInfo
  .userInfo__userName 
    = current_user.name
  .userInfo__menu
    %ul
      =link_to "#", class: "userInfo__menu" do 
        =fa_icon 'edit'
      =link_to edit_user_path(current_user), class: "userInfo__menu" do
        =fa_icon 'cog'
