.postForm
  .postForm__textArea
    %form
      %input{type: "text", placeholder: "type a message", class: "postForm__textArea postForm__textArea--placeholder"}
      %label{for: "uploadIcon", class: "postForm__textArea--image"} 
        =fa_icon 'image'
        %input{type: "file", id: "uploadIcon" , class: "postForm__textArea--defaultIcon"}
  .postForm__send
    =link_to "#", class: "postForm__send postForm__send--link" do
      Send