.contents
  .leftContents
    =render partial: 'userInfo'
    =render partial: 'groupList'
  .rightContents 
    =render partial: 'groupInfo'
    =render partial: 'chatField'
    =render partial: "postForm"