.groupList
  -current_user.groups.each do |group|
    = link_to group_messages_path(group), class: "editLink"  do
      .groupList__groupName
        =group.name
      .groupList__message
        =group.show_last_message

