* {
  box-sizing: border-box; 
}

.leftContents {
  width: 300px;
  color: $white;
  float: left;
}

.userInfo {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  &__userName{
    font-size: 16px;
    font-weight: bold;  
  }
  &__menu{
    @include linkformat;
  }
}

.groupList{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  .editLink{
    @include linkformat;
  }
  &__groupName{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold; 
  }
  &__message{
    padding-bottom: 40px;
    font-size: 11px;
    font-weight: bold;  
  }
}

.rightContents{
  width: calc(100vw - 300px);
  float: left;
}

.groupInfo{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid  1px #eeeeee;
  &__about{
    &--name{
      padding: 35px 0 15px;
      font-size: 20px;
      color: #333333;
    }
    &--member{
      font-size: 12px;
      color: $lightgray;
    }
  }
  &__edit{
    height: 40px;
    margin-top: 28px;
    border: solid 1px $skyblue;
    &--link{
      line-height: 40px;
    }
    @include btn($skyblue)
  }
}

.chatField{
  overflow: scroll;
  height: calc(100vh -  90px - 100px);
  padding: 46px 40px 0;
  background-color: #fafafa;
  &__info{
    display: flex;
    padding-bottom: 10px;
    &--user{
      padding-right: 10px;
      font-size: 16px;
      font-weight: bold;
      color: $darkgray;
    }
    &--date{
      font-size: 12px;
      color: $lightgray
    }
  }
  &__message{
    padding-bottom: 40px;
    font-size: 14px;
    color: $darkgray;
  }
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $skyblue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}